In [2]:
import sqlite3
import pandas as pd
import sqlalchemy

In [6]:
connection = sqlite3.connect('Mydb.db')

In [7]:
cursor = connection.cursor()

### SQLITE DTYPES

- Integer
- Real 
- Text
- Blobs
- Null

In [9]:
cursor.execute('CREATE TABLE employees(name TEXT, surname TEXT, salary REAL)')
connection.commit()

In [18]:
cursor.execute("INSERT INTO employees VALUES('Max','Maxwell','100000')")
connection.commit()

In [22]:
name = 'King'
surname = 'Arthur'
salary = 50000
cursor.execute("INSERT INTO employees VALUES(?,?,?)", (name,surname,salary))
connection.commit()

In [32]:
class SQLinput:
    def __init__(self,name,surname,salary):
        self.name = name
        self.surname  = surname
        self.salary = salary

In [29]:
inst = SQLinput('Jerome','Washington',100000)
name = inst.name
surname = inst.surname
salary = inst.salary
cursor.execute("INSERT INTO employees VALUES(?,?,?)", (name,surname,salary))
connection.commit()

In [ ]:
cursor.execute("select * from employees")
cursor.fetchall()

In [33]:
connection.close()