In [2]:
import zipfile
with zipfile.ZipFile('archive.zip','r') as zipRef:
    zipRef.extractall('data')

In [18]:
import pandas as pd
import datetime as dt
df = pd.read_csv('data/avocado.csv')
#df.reset_index(inplace=True)
df.drop(columns=['Unnamed: 0'],inplace=True)
df['Date'] = dt.datetime.strftime(df['Date'],'%Y-%m-%d').strftime('%m/%d/%y')
#df.set_index('Date',inplace=True)
df.index

TypeError: descriptor 'strftime' for 'datetime.date' objects doesn't apply to a 'Series' object

In [22]:
def change_date(string):
    return dt.datetime.strptime(string,'%Y-%m-%d').strftime('%m/%d/%y')
df['Date']=df['Date'].apply(change_date)

In [23]:
df

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,12/27/15,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,12/20/15,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,12/13/15,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,12/06/15,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,11/29/15,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,02/04/18,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,01/28/18,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,01/21/18,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,01/14/18,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,01/07/18,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico